<div class="container">
    <div class="row">

        <div ng-repeat="post in ctrl.activePosts | filter:{active:true} | orderBy: '-date'">
            <div class="col s12 m6">
                <div class="z-depth-3">
                    <div class="card horizontal">
                        <div class="card-stacked grey darken-2">
                            <div class="card-content white-text">
                                <h5>{{post.title}}</h5>
                                <p>{{post.body}}</p>
                                <br />
                                <p>Worth {{post.points}} points</p>
                                <p>Due {{post.dueDate | date:date}}</p>
                                <!--p>{{post.language}}</p-->
                                <!--p>{{post.topics}}</p-->
                            </div>
                            <div class="card-action orange-text text-darken-3">
                                <a ng-href="#!/question/{{post.id}}">View Problem</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
